<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="./public/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="home" id="home">
        <nav>
            <div class="logo"> 
                <h1>Dine <span>with us</span></h1>
            </div>
            <ul>
                <li><a href="/index">Home</a></li>
                    <li><a href="#">Veg</a></li>
                    <li><a href="/nonveg">Non-Veg</a></li>
                    <li><a href="/icecream">IceCream</a></li>
                    <li><a href="/milkshakes">Milkshakes</a></li>
                    <li><a href="/juices">Juices</a></li>
                    <li><a href="/cakes">Cakes</a></li>
                    <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="container">
            <div class="pannel address">
                <div class="box box1">
                    <i class="fa fa-address-card"></i>
                    <h1>Dine with us</h1>
                    <h3>NGM college,<br> palakkad road opposite</h3>
                </div>
                <div class="box box2">
                    <i class="fa fa-mobile"></i>
                    <h3>+91 7457896525</h3>
                </div>
                <div class="box box3">
                    <i class="fa fa-envelope"></i>
                    <h3>dinee@gmail.com</h3>
                </div>
                <div class="box box4">
                    <i class="fa fa-globe"></i>
                    <h3>www.dine-with-us.com</h3>
                </div>   
            </div>
            <div class="pannel contact"> 
                <div class="fore-group">
                    <input type="text" id="textName" placeholder="Your Name">
                </div>
                <div class="fore-group">
                    <input type="text" id="numPhone" placeholder="Your Number" >
                </div>
                <div class="fore-group">
                    <input type="email" id="txtMail" placeholder="Your Mail id">
                </div>
                <div class="fore-group">
                    <textarea name="message" id="txtMail" cols="39" rows="4" placeholder="Message"></textarea>
                </div>   
                <div class="fore-group">
                    <button class="btn-send">Send</button>
                </div>   
            </div>
        </div>
            <div class="footer">
                <h4>copyright <i class="fa fa-copyright"></i><span class="ncolor">Dine with us.</span> | All rights reserved. </h4>
            </div>
    </section>
</body>     
</html>