<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="./public/index.css">
</head>
<body>
    <section class="home" id="home">
        <nav>
            <div class="logo"> 
                <h1>Dine <span>with us</span></h1>
            </div>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Veg</a></li>
                <li><a href="">Non-Veg</a></li>
                <li><a href="">IceCream</a></li>
                <li><a href="">Milkshakes</a></li>
                <li><a href="">Juices</a></li>
                <li><a href="">Cakes</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
        <div class="banner">
            <h2>Welcome to <span>dine with us</span></h2>
            <h3>Delivaring delicious food in the city</h3>
        </div>
        <div class="special">
            <h1>Today's special</h1>
            <div class="special-box">
                <img src="./public/chicken-wings-fried-food-food-cuisine-wallpaper-preview.jpg" >
                <h2>Chicken Wings</h2>
                <h3>Rs.220</h3>
            </div>
            <div class="special-box">
                <img src="./public/Briyani.jpg ">
                <h2>Mutton Briyani</h2>
                <h3>Rs.280</h3>
            </div>
            <div class="special-box">
                <img src="./public/Fish.jpg" >
                <h2>Fish Fry</h2>
                <h3>Rs.150</h3>
            </div>
        </div>
    </section>
</body>
</html>